body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding-right: 0 !important;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-header {
    /*background-color: #0040FF;*/
    background-color: #017ca7;
    color: white;
}

button[type="submit"] {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 2px 8px;
}

.bg-custom {
    background-color: #caf0f8;
}

.nav-item {
    color: #63200d;
}

.navbar-logo {
    text-align: center;
}

.mx-auto img, .navbar-brand .d-lg-none .navbar-logo img, .navbar-header img {
    width: 70%;
    padding-bottom: 6px;
}

.navbar-light .navbar-nav .nav-link {
    color: #63200d;
    font-weight: 700;
    font-size: 18px;
    vertical-align: middle;
}

.nav-icon {
    color: #63200d;
    background-color: transparent;
}

.nav-item-dd {
    color: #63200d;
    text-decoration: none;
    font-weight: 600;
}

.background{
    padding: 40px 0 40px 0;
    width: 70%;
    background: #CAF0F8;
    border-radius: 2em !important;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    border-radius: 2em; 
    box-shadow:0.8em 0.8em #FCDDEC
}

.center{
    display: block;
    margin: auto;
}

form{
    vertical-align: middle;
    margin: auto; 
    width:75%;
    padding:30px 0 30px 0;
}

label{
    font-size: 1.1em !important;
}

button, button[type="submit"]{
    border-radius: 10px  !important;
    background: #63200D !important;
    border: none;
    color: white;
}

.textfield{
    border-radius : 20px !important;
    border: 0 solid #FFFF !important;
}

select{
    -webkit-appearance: none;
    appearance: none;
}

select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
select.minimal:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input, textarea, select {
    padding: 6px 18px !important;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: center;
    }
}