body {
    font-family: "Quicksand", sans-serif !important;
    font-size: 14px;
    padding-right: 0 !important;
}

h1,
h2 {
    color: #fa8596;
}

h1 {
    font-weight: 500;
    margin-top: 20px !important;
}

h3 {
    margin: 0 0 40px 0;
    font-weight: 600;
    color: black;
}

h3.outsideBackground {
    margin-bottom: 20px;
}

.background {
    padding: 40px 0 40px 0;
    width: 70%;
    background: #caf0f8;
    border-radius: 2em !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    margin-bottom: 5% !important;
    border-radius: 2em;
    box-shadow: 0.8em 0.8em #fcddec;
}

/* header */
.vl {
    border-left: 3px solid #63200d;
    height: 20px;
    margin: auto;
  }

/* footer */
div.footer-background {
    background: #63200d;
    font-family: "Quicksand";
    margin-top: 10%;
}

.footerRefs {
    color: #ffffff;
}

/* buttons */
button {
    padding: 10px 90px 10px 90px;
    font-weight: bold;
}

button[type="submit"] {
    border-radius: 10px !important;
    background: #63200d !important;
    font-size: 18px;
    border: none;
    color: white;
}

button[type="login"] {
    border-radius: 10px !important;
    background: #63200d !important;
    border: none;
    color: white;
}

button[type="moredonut"] {
    padding: 10px 90px 10px 90px;
    display: block;
    margin: auto;
    border-radius: 10px !important;
    background: #caf0f8;
    border: none;
    font-weight: 900;
    font-size: 30px;
    color: #63200d;
}
.onsale {
    background-color: #DD8331;
    border-radius: 25px;
    text-align: center;
    width: 120px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.onsale2 {
    background-color: pink;
    border-radius: 25px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.strikethrough{
    background-color: transparent;
    background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, #63200D 50%, transparent 52%, transparent 100%);
}

.button-icon {
    border: none;
    border-radius: 100px;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    padding: 0;
}

.button-icon:focus, .button-icon:focus-visible {
    outline: none;
}

.plus-minus-btn {
    background: #fa8596;
    border-radius: 100px;
    padding: 7px 8px;
}

.delete-btn {
    border: none;
    background: transparent;
    color: #e71111;
    font-size: 18px;
    padding: 0 !important;
}

.delete-btn:focus, .delete-btn:focus-visible {
    outline: none;
}

/* shopping cart and checkout breadcrumb */
.back-btn {
    padding: 8px 11px;
    background: #8dc4d0;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
}

.back-link {
    text-decoration: none;
    color: #82BCC7;
    font-weight: 600;
}

.back-link:hover {
    text-decoration: none;
    color: #82BCC7;
    /* color: #63200D; */
}

/* .back-btn:hover {
    background: #63200D;
} */

.mybreadcrumb {
    padding: 40px 20px 40px 20px;
}

.mybreadcrumb-circle {
    background: #afafaf;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    width: 36px;
}

.mybreadcrumb-circle.complete {
    background-color: #fa8596;
}

.mybreadcrumb-content {
    display: inline-block;
    text-align: center;
    color: #afafaf;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
}

.mybreadcrumb-content.complete {
    color: #fa8596;
}

.mybreadcrumb-content:hover {
    text-decoration: none;
    color: #afafaf;
    cursor: default;
}

.mybreadcrumb-content.complete:hover {
    text-decoration: none;
    color: #fa8596;
    cursor: pointer;
}

/* shopping cart/tray */
.empty-tray-msg {
    text-align: center;
    color: #fa8596;
    margin: 20px auto;
}

.empty-tray-msg p {
    font-size: 1.2em;
}

.tray-background {
    padding: 30px 0;
    width: 70%;
    background: #caf0f8;
    border-radius: 2em !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    margin-bottom: 5% !important;
    border-radius: 2em;
    box-shadow: 0.8em 0.8em #fcddec;
}

.tray-donut-name {
    font-weight: 700;
    font-size: 16px;
    color: #63200d;
}

.tray-donut-price {
    font-weight: 600;
}

.tray-donut-offer {
    font-weight: 600;
    background: #fa8596;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-field {
    text-align: center;
    width: 60px;
    border: none;
    background: none;
    font-weight: 600;
}

.qty-field:focus-visible {
    outline: none;
}

.plus-minus-input {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.fa-trash-alt {
    color: #e71111;
}

.tray-subtotal {
    font-weight: 700;
    font-size: 24px;
    color: #dd8331;
}

.tray-divider {
    border-top: solid 2px; 
    border-color:#DD8331;
}

.tray-count {
    font-weight: 600;
    font-size: 18px;
    color: #dd8331;
    text-align: left;
    width: 70%;
    margin: auto;
}

.next-page-btn {
    text-decoration: none;
    color: #ffffff;
    background: #63200d;
    border-radius: 10px;
    padding: 12px 24px;
    float: right;
}

.next-page-btn:hover {
    text-decoration: none;
    color: #ffffff;
}

/* delivery mode */
.delivery-background {
    background: #caf0f8;
    border-radius: 2em !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    margin-bottom: 5% !important;
    border-radius: 2em;
    box-shadow: 0.8em 0.8em #fcddec;
}

.form-input-grp {
    text-align: center;
}

.delivery-choice {
    text-align: left;
    width: 70%;
}

.delivery-name {
    font-size: 20px;
    font-weight: 700;
    color: #63200d;
}

.delivery-desc {
    font-weight: 600;
    color: #dd8331;
}

.delivery-note {
    font-size: 14px;
    font-weight: 600;
}

.delivery-radio {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* order review table */
.table thead th {
    border-bottom: none;
    border-top: none;
    font-size: 18px;
}
td {
    border-top: none !important;
}
.order-contents {
    color: #63200d;
    font-weight: 600;
    font-size: 16px;
}
.order-contents-summary{
    color: #63200d;
    font-weight: 700;
    font-size: 18px;
}

#orderSummaryTitle {
    text-align: left;
    padding-left: 20px;
}

.order-table td, th{
    text-align: center;
}
.company-details{
    color: #63200d;
    padding-left: 20px;
    padding-right: 20px;
    overflow-wrap: break-word;
}

.customer-details{
    color: #63200d;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    overflow-wrap: break-word;
}
/* images */
#developers {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin-bottom: 5%;
}

#donutImg {
    border-radius: 15%;
    width: 8em;
    height: 8em;
    object-fit: cover;
    margin-bottom: 5%;
}

.donut-img {
    border-radius: 15%;
    width: 8em;
    height: 8em;
    object-fit: cover;
    vertical-align: middle;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align:center;
}

.brown-text {
    color: #63200d;
}

.tray-table {
    padding-left: 12px;
    padding-right: 12px;
}

/* navbar */
.navbar-logo {
    text-align: center;
}

.mx-auto img,
.navbar-brand .d-lg-none .navbar-logo img,
.navbar-header img {
    width: 70%;
    padding-bottom: 6px;
}

.navbar-light .navbar-nav .nav-link {
    color: #63200d;
    font-weight: 700;
    font-size: 18px;
    vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show > .nav-link {
    color: #dd8331;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #dd8331;
}

.nav-icon {
    color: #63200d;
}

.nav-item-dd {
    color: #63200d;
    text-decoration: none;
    font-weight: 600;
}

.nav-item-logout {
    color: #e71111;
    text-decoration: none;
    font-weight: 600;
}

.nav-item-dd:hover {
    background: #eb9d54;
    color: #ffffff;
}

.nav-item-logout:hover {
    background: #e75050;
    color: #ffffff;
}

.nav-user {
    color: #fa8596;
    font-weight: 600;
    cursor: default;
}

.nav-user:hover {
    background: transparent;
    color: #fa8596;
}

/* navbar end */

.center {
    display: block;
    margin: auto;
}

.catImage {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin-bottom: 5%;
}
form {
    vertical-align: middle;
    margin: auto;
    width: 75%;
    padding: 30px 0 30px 0;
}


label {
    font-size: 1.1em !important;
}

.textfield {
    border-radius: 20px !important;
    border: 0 solid #ffff !important;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input,
textarea,
select {
    padding: 6px 18px !important;
}

.field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: center;
    }
}
